body {
  @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
  margin: 0;
  padding: 0;
  background-color: #def2f1;
  font-family: Poppins;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b7a78;
  padding: 10px 20px;
  position: relative;
}
.nav-logo a {
  display: flex;
  align-items: center;
  color: #def2f1;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.nav-logo a:hover {
  color: #17252a;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
  position: relative;
}

.nav-item a {
  color: #feffff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-item a:hover {
  color: #17252a;
  background-color: #def2f1;
  border-radius: 5px;
  transform: scale(1.1); 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b7a78;
  min-width: 160px;
  box-shadow: 0 8px 16px #2b7a78;
  z-index: 1;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.dropdown-content a {
  color: #17252a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #def2f1;
  color: #17252a; 
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-items {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.dropdown-items span {
  background-color: #17252a;
  border-radius: 2px;
  display: block;
  height: 3px;
  margin: 5px 0;
  width: 25px;
  transition: all 0.3s;
}


@media (max-width: 768px) {
  .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #2b7a78;
      padding: 0;
  }

  .nav-menu.active {
      display: flex;
  }

  .nav-item {
      margin-left: 30px;
  }

  .nav-item a {
      padding: 10px;
      border-top: 1px solid #2b7a78;
  }

  .dropdown-items {
      display: flex;
  }
}
.h2{
  font-size: 30px;
}
.career-p{
  font-size: 20px;
}
.points{
  font-size: 18px;
}
* theme change */
body {
  transition: background-color 0.5s;
}
/******************/
.dark-theme {
  background-color: #17252a;
  color: #fff;
}
.dark-h1{
color: white;
}
.dark-writer{
  color: white;
}
.light-theme {
  background-color: #def2f1 ;
  color: #333;
}
.light-h1{
  color: #17252a;
  }
  .light-writer{
    color: #17252a;
  }
.theme-changer {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

#theme-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.5s;
}

#theme-icon:hover {
  transform: scale(1.1);
}
.header{
  background-size: 100% 300px;
  background-position: 0% 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.h1{
  margin-top: 150px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
.writer{
  font-size: 15px;
}
.para{
  font-size:28px ;
  color: #3aafa9;
}
.headingbq{
font-size: 24px;
margin-bottom:20px;
color: #3aafa9;
}
.sub-para{
  font-size: 18px;
  color: #3aafa9;
}
.container{
    margin:70px auto  ;
    padding: auto;
    width: 1300px ;
    height: 450px;
    border-color: white ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
background-color: #2B7A78;
    border-radius: 10px;
  }
  .sub-container{
    width: 650px;
  height:270px ;
    margin: 20px ;
    padding:5px;
color: #def2f1;
text-align: align;

  }
  .content-img{
   margin:30px ;
    width: 500px;
  }
.heading{
color:#17252a;
font-size: 35px;
text-align: center;
}
.sub-content{
color:#def2f1;
font-size: 20px;
margin-left: 40px;
font-family:'Times New Roman', Times, serif;
}
.card-container{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.card{
  color:#2b7A78 ;
  text-align: center;
  width:200px;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid #3aafa9;
}
.light-card{
  box-shadow:  0 0 1px 1px #17252a  ;
}
.dark-card{
  box-shadow:  0 0 1px 1px #def2f1;
  border: 1px solid white;
}
.card:hover{
  cursor: pointer;
  border: 1px solid #2B7A78;
  box-shadow:  0 0 2px 2px #3aafa9;
}
.sub-h1{
  color:#2b7A78 ;
  text-align: center;  
}
.sub-link{
  text-decoration: none;
  color:white  ;
}
.a-text{
  text-align:center ;
  color: #2B7A78;
}
.career-h1{
  text-align: center;
  margin-bottom:20px;
  color :#2b7A78 ;
}
.career-container{
max-width: 1300px;
height: 700px;
margin: 20px auto;
padding: 20px;
color:#2b7A78;
background-color: #2B7A78;
border: 1px solid  #2B7A78;
border-radius: 20px;

}
.career-card{
  background-size:cover;
  height: 240px;
  background-color:  #def2f1;  
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px  #2B7A78;
}
.career-card-content{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.career-card-content span{
  margin:10px;
}
.button{
  background-color: #3aafa9 ;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.button:hover{
  background-color:  #2B7A78 ;
}
.vidheading{
  color:#2b7A78 ;
  text-align: center;
}
.main-videoblock{
  padding: 30px 100px;
  width: 1000px;
  height: 560px;
  margin: 10px 90px;
  border-width: 1px;
}
.main-video{
padding: 100px auto;
  width: 1000px;
  height: 550px;
}
.videos-container{
  width: 800px;
  display:flex;
  justify-content:space-around;
}
.video-option{
width: 400px;
height: 450px;
margin:  5px 50px;
}
/* Small devices (portrait phones, less than 600px) */
@media (max-width: 600px) {
  .header{
    margin-top: 50px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    font-size: 15px;
  }
  .h1{
    margin-top: 70px;
    font-size: 50px;
    margin-bottom: 10px;
  }
  .para{
    font-size:28px ;
  }
  .headingbq{
  font-size: 20px;
  }
  .sub-para{
    font-size: 18px;
  }
  .container{
      width: 450px ;
      height: 600px;
      flex-direction: column;
    }
    .sub-container{
      width: 400px;
    height:250px ;
      margin: 2px ;
      padding:5px;
  
    }
    .content-img{
     margin:30px ;
      width: 350px;
    }
  .heading{
    margin-top: 2px;
  font-size: 25px;
  }
  .sub-content{
  font-size: 15px;
  margin-left: 40px;
  }
  .career-h1{
    text-align: center;
    margin-bottom:20px;
    color: white;
  }
  .career-container{
  max-width: 550px;
  height: 930px;
  }
  .career-card{
    height: 340px;
     font-size: 14px;
  }
  .button{
   width: 180px;
    height: 30px;
  }
  .main-videoblock{
    padding: 10px 3px;
    width: 540px;
    height: 290px;
    margin-left:5px ;
  }
  .main-video{
  padding: 2px auto;
    width: 530px;
    height: 280px;
  }
  .videos-container{
    width: 590px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .video-option{
  width: 200px;
  height: 150px;
  margin:  5px 10px;
  }
}
/*****************************************************/

@media (min-width: 601px) and (max-width: 900px) {
  .h1{
    font-size: 50px;
    margin-bottom: 10px;
  }
  .para{
    font-size:20px ;
  }
  .container{
    width: 610px ;
    height: 600px;
    flex-direction: column;
  }
  .sub-container{
    width: 550px;
  height:250px ;
  margin: 30px;
  }
  .content-img{
   margin:30px 50px;
    width: 400px;
   height:200px ;
  }
  .career-container{
  max-width: 1300px;
  height: 1000px;
  margin: 20px auto;
  padding: 20px;
  color:white;
  border-radius: 20px;
  
  }
  .career-card{
    height: 350px;
  }
  .career-card-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .career-card-content span{
    margin:10px;
  }
  .button{
    background-color:#3aafa9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  .main-videoblock{
    padding: 10px 30px;
    width: 560px;
    height: 320px;
    margin:50px ;
  }
  .main-video{
  padding: 2px 10px;
    width: 540px;
    height: 300px;
  }
  .videos-container{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }
  .video-option{
  width: 350px;
  height: 250px;
  }
  
}
/* Extra large devices (desktops, 992px and up) */
@media (max-width: 901px) and (min-width: 1015px) {
  .header{
    height: 390px;
  }
  .h1{
    margin-top: 150px;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .para {
      font-size: 25px;
  }

  .headingbq {
      font-size: 24px;
  }

  .sub-para {
      font-size: 18px;
  }

  .container {
      width: 950px;
      height: 550px;
      border-color: white;
  }

  .sub-container {
      width: 500px;
      height: 720px;
      margin: 20px;
  }

  .content-img {
      width: 400px;
      height: 350px;
      margin: 30px;
  }

  .card {
      width: 200px;
      padding: 15px;
      margin: 10px;
  }

  .career-container {
      max-width: 1300px;
      height: 700px;
      padding: 20px;
  }

  .career-card {
      height: 240px;
      padding: 20px;
  }

  .main-videoblock {
      padding: 30px 100px;
      width: 1000px;
  }

  .video-option {
      width: 400px;
      height: 450px;
      margin: 5px 50px;
  }
}
