body {
    @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
    margin: 0;
    padding: 0;
    background-color: #def2f1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b7a78;
    padding: 10px 20px;
    position:fixed;
    top:0px;
    width:100%;
    
}

.nav-logo a {
    display: flex;
    align-items: center;
    color: #def2f1;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.nav-logo a:hover {
    color: #17252a;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right:50px;
}

.nav-item {
    margin-left: 20px;
    position: relative;
}

.nav-item a {
    color: #feffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-item a:hover {
    color: #17252a;
    background-color: #def2f1;
    border-radius: 5px;
    transform: scale(1.1); 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b7a78;
    min-width: 160px;
    box-shadow: 0 8px 16px #2b7a78;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.dropdown-content a {
    color: #17252a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #def2f1;
    color: #17252a; 
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-items {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.dropdown-items span {
    background-color: #17252a;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 5px 0;
    width: 25px;
    transition: all 0.3s;
}


@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #2b7a78;
        padding: 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin-left: 30px;
    }

    .nav-item a {
        padding: 10px;
        border-top: 1px solid #2b7a78;
    }

    .dropdown-items {
        display: flex;

    }
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #2b7a78;
        padding: 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin-left: 30px;
    }

    .nav-item a {
        padding: 10px;
        border-top: 1px solid #2b7a78;
    }

    .dropdown-items {
        display: flex;
    }
}

header {
    background:  #def2f1;
    color:#2b7a78;
    padding: 20px;
    text-align: center;
    
  }
  h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .head{
    margin: 5px 0;
    font-size: 1.5em;
    color: #2b7a78;
  }
  
  section {
    padding: 20px;
    border-bottom: 1px solid#2b7a78;
    animation: pulse 2s;
  }
  
  h3 {
    text-align: center;
    font-size: 1.75em;
    margin-bottom: 20px;
    color: #2b7a78;
    
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   gap: 50px;
   padding: 20px;
   justify-content: center;
   flex-direction: row;
   justify-content: space-evenly;
    
}

.card {
    
    background-color: #2b7a78;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 200px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border:#2b7a78 solid 2px;
    
    
}
.img1{
    height: 190px;
    width: 190px;
    margin-top: 1px;
    border-radius: 50%;
    border: 3px solid black;
}
.card:hover {
    
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.details {
    display: none;
    margin-top: 10px;
    font-size: 19px;
    color: #1e2727;
    
}
.btn{
    text-align: center;
    border-radius:  6px;
    color:#feffff;
    background-color: #3aafa9;
    margin: auto;
    border:none;
    height:40px;
    width: 80px;
}
.ias-sc{
    text-align:center;
    margin: 40px;
    color: #2b7a78;
}
.button {
    display: inline-block;
    border-radius: 6px;
    background-color: #fffffe;
    border: none;
    color: black;
    text-align: center;
    width: 80px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content:icon;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 10px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .link{
    text-decoration: none;
    text-align: center;
    color: #0f0e17;
  }

.row:hover{
    border: #2C5F88 solid 3px;
}
.info-img img{
    height: 200px;
    width: 350px;
    border-radius: 10px;
}
.info{
    width: 50%;
}
.info h1{
    text-align: center;
}
.info h3{
    margin: 10px 0;
    font-size: 25px;
}
.info p{
    font-size: 15px
}
.row-info{
    color: #fffffe;
}
.row{
    display: flex;
    margin: 10px auto;
    padding: 19px;
    width: 90%;
    justify-content: space-around;
    border: #2b7a78 solid 2px;
    border-radius: 10px;
    transition: 1s ease-in-out;
    margin-top: 30px;
    color: #2b7a78;
  }

  .btn{
    margin: 5px;
    height: 30px;
    width: 80px;
    background-color: #3aafa9;
    padding: 3px;
    border-radius: 5px  ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn a{
    list-style-type: none;
    text-decoration:none ;
    font-size: 15px;
    color: #fff;
  }
  .btn:hover{
    background-color:#2b7a78 ;
  }
  /* normal device */
@media screen and (min-width: 601px) and (max-width: 768px){


}
/* tablet device */
@media screen and (min-width: 769px) and (max-width: 992px)
{
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
       gap: 40px;
       padding: 10px;
       justify-content: center;
       flex-direction: row;
       justify-content: space-evenly;
        
      
    }
      .info-img img{
        height: 150px;
        width: 150px;
        border-radius: 8px;
        
        
      }
      .row{
        display: flex;
        margin: 10px auto;
        padding: 19px;
        width: 80%;
        justify-content: space-around;
        border: #3b7a78 solid 2px;
        border-radius: 10px;
        transition: 1s ease-in-out;
        margin-top: 30px;
        color: #fff;
      }
      .info p{
        display: none;
      }
      
        
      
      
    





}
 /* large device */
@media screen and (min-width: 993px) and (max-width: 1200px){
}
  /* small device */
@media screen and (max-width: 600px){
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   gap: 20px;
   padding: 10px;
   justify-content: center;
   flex-direction: row;
   justify-content: space-evenly;
    
  
}
  .info-img img{
    height: 0px;
    width: 0px;
    border-radius: 8px;
    content: none;
    
  }
  .row{
    display: flex;
    margin: 10px auto;
    padding: 19px;
    width: 50%;
    justify-content: space-around;
    border: #3b7a78 solid 2px;
    border-radius: 10px;
    transition: 1s ease-in-out;
    margin-top: 30px;
    color: #fff;
  }
  .info p{
    display: none;
  }
}
    
  
  
