body{
    background-color: #0f0e17;
    padding: 0;
    margin: 0;
}
 .up-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

} 

.heading{
    text-align: center;
    font-size: 50px;
    margin-top: 110px;
    color: white;
}
.form-fill{
   
display: flex;
flex-direction: column;
align-items: center;

    border: 1px solid black;
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 10px 0px black;
    background-color: aliceblue;
    border-radius: 25% 0 25% 0;
}
.btn{
    width: 90px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}