@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);

body {
    margin: 0;
    padding: 0;
    background-color: #def2f1;
    box-sizing: border-box;
    font-family: poppins;
}

.head-image-1 {
    float: right;
    opacity: calc(0.9);

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B7A78;
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-logo a {
    display: flex;
    align-items: center;
    color: #fffffe;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.nav-logo a:hover {
    color: #17252a;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

.nav-item {
    margin-left: 20px;
    position: relative;
}

.nav-item a {
    color: #fffffe;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-item a:hover {
    color: #17252a;
    background-color: #DEF2F1 ;
    border-radius: 5px;
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b7a78;
    min-width: 160px;
    box-shadow: 0 8px 16px #2b7a78;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.dropdown-content a {
    color: #17252a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #def2f1;
    color: #17252a; 
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-items {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 30px;
}

.dropdown-items span {
    background-color: #17252a;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 5px 0;
    width: 25px;
    transition: all 0.3s;
}

.headline-1 {
    font-size: 65px;
    font-weight: bolder;
    color: #def2f1 ;
    text-align: center;
    position: relative;
    top: -635px;
}

.headline-2 {
    font-size: 65px;
    font-weight: bolder;
    color: #fffffe;
    text-align: center;
    position: relative;
    top: -700px;
}

.headline-3 {
    font-size: 30px;
    color: #2b7a78;
    text-align: center;
    position: relative;
    top: -400px;
}

.explore-field {
    font: 50px bold;
    color: #2b7a78;
    text-align: center;
    top: -200px;
}








.main-product-img {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0px auto;
    border: 1px solid #2b7a78;
    border-radius: 20px;
    margin-top: 0px;
}

.product-img-container {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    gap: 35px;
    flex-wrap: wrap;
}

.product-img {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    object-fit: cover;
    transition: .5s ease;
    cursor: pointer;

}

.product-img:hover {
    box-shadow: 0 0 0 10px #2B7A78;
    transition: .3s ease;
}

.stream-name {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #2b7a78;
}

.card-stream-heading {
    color: #2b7a78;
    margin-top: 80px;
    text-align: center;
    display: block;
}

.card-stream-heading-2 {
    color: #2b7a78;
    margin-left: 10px;
    margin-top: 50px;
}

.card-heading-content {
    color: #2B7A78;
    margin-left: 10px;
}





.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 100px;
}

.card {
    background: #2b7a78;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 500px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0 0 10px;
    color: #2b7a78;
}

.card-content p {
    color: #a7a9be;
    margin-bottom: 10px;
}

.card-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-content ul li {
    background: #a7a9be;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
}

.know-more-btn-container {
    display: flex;
    justify-content: center;

}


.know-more-btn {
    height: 50px;
    width: 150px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: large;
    color: #fffffe;
    background-color: #3aafa9;
    cursor: pointer;
}

.know-more-btn:hover {
    transform: translateY(-10px);
}







.books-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 10px;
    
}

.books-card {
    background-color: #2B7A78;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.books-card img {
    border-radius: 10px;
    height: 200px;
    width: auto;
    max-width: 100%;
}

.books-card h2 {
    color: white;
    font-size: 20px;
    margin: 10px 0;
}

.books-card p {
    color: white;
    font-size: 16px;
}

.books-card button {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.books-card button:hover {
    background-color: #f0f0f0;
}





















.brand-img-footer {
    height: 70px;
    margin-bottom: 20px;
}

.footer {
    background-color: #2b7a78;
    color: #fffffe;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

.footer-social-icons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-social-icons .social-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #fffffe;
}

.footer-social-icons img {
    width: 30px;
    height: 30px;
    
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copyright {
    font-size: 14px;
}

.top-icon {
    height: 60px;
}








/* theme change */
body {
    transition: background-color 0.5s;
  }
  
  .dark-theme {
    background-color: #17252a;
    color: #fff;
  }
  
  .light-theme {
    background-color: #def2f1;
    color: #333;
  }
  
  .theme-changer {
    position: fixed;
    top: 1px;
    right: 1px;
    z-index: 1;
    cursor: pointer;
  }
  
  #theme-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.5s;
  }
  
  #theme-icon:hover {
    transform: scale(1.1);
  }










@media screen and (min-width: 769px) and (max-width: 992px) {
    .headline-1 {
        font-size: 50px;
    }

    .headline-2 {
        font-size: 50px;
        position: relative;
        top: -690px;
    }

    .main-product-img {
        width: 700px;

    }
}









@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
        padding: 0;
    }

    .nav-logo img {
        width: 30px;
        height: 30px;
    }

    .nav-logo a {
        font-size: 20px;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin-left: 30px;
    }

    .nav-item a {
        padding: 10px;
        border-top: 1px solid #444;
    }

    .dropdown-items {
        display: flex;
    }

    .head-image-1 {
        float: right;
    }

    .headline-1 {
        font-size: 32px;
    }

    .headline-2 {
        font-size: 32px;
        position: relative;
        top: -650px;
    }

    .headline-3 {
        font-size: 20px;
    }

    .main-product-img {
        width: 300px;
    }

    .card {
        width: 400px;
        border-radius: 10px;
    }

    #theme-icon {
        margin-right: 30px;
        margin-top: 5px;
    }
}