@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul, ol {
  list-style: none;
}

a, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

button, button:hover, button:active {
  outline: none;
  background: inherit;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-147deg, #080808, #ecebf1, #0d1718);
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

body::after, body::before {
  content: "";
  position: absolute;
  border-radius: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body::before {
  top: 0;
  left: 0;
  width: 26rem;
  height: 12rem;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: translate(-60%, -5%) rotate(60deg);
          transform: translate(-60%, -5%) rotate(60deg);
}

@media (min-width: 1400px) {
  body::before {
    width: 40rem;
    height: 20rem;
  }
}

body::after {
  bottom: 0;
  right: 0;
  width: 29rem;
  height: 14rem;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(52%, -115%) rotate(65deg);
          transform: translate(52%, -115%) rotate(65deg);
}

@media (min-width: 1400px) {
  body::after {
    width: 35rem;
    height: 18rem;
    -webkit-transform: translate(52%, -163%) rotate(65deg);
            transform: translate(52%, -163%) rotate(65deg);
  }
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 380px;
  width: 100%;
  height: auto;
  max-height: 600px;
  background: #fff;
  padding: 50px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}