@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

/*NAVBAR*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B7A78;
  padding: 10px 20px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-logo a {
  display: flex;
  align-items: center;
  color: #fffffe;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.nav-logo a:hover {
  color: #17252a;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.nav-item {
  margin-left: 20px;
  position: relative;
}

.nav-item a {
  color: #fffffe;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-item a:hover {
  color: #17252a;
  background-color: #DEF2F1 ;
  border-radius: 5px;
  transform: scale(1.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b7a78;
  min-width: 160px;
  box-shadow: 0 8px 16px #2b7a78;
  z-index: 1;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.dropdown-content a {
  color: #17252a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #def2f1;
  color: #17252a; 
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-items {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 30px;
}

.dropdown-items span {
  background-color: #17252a;
  border-radius: 2px;
  display: block;
  height: 3px;
  margin: 5px 0;
  width: 25px;
  transition: all 0.3s;
}


@media (max-width: 768px) {
  .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #333;
      padding: 0;
  }

  .nav-logo img {
      width: 30px;
      height: 30px;
  }

  .nav-logo a {
      font-size: 20px;
  }

  .nav-menu.active {
      display: flex;
  }

  .nav-item {
      margin-left: 30px;
  }

  .nav-item a {
      padding: 10px;
      border-top: 1px solid #444;
  }

  .dropdown-items {
      display: flex;
  }

  .head-image-1 {
      float: right;
  }

  .headline-1 {
      font-size: 32px;
  }

  .headline-2 {
      font-size: 32px;
      position: relative;
      top: -650px;
  }

  .headline-3 {
      font-size: 20px;
  }
}


/* theme change */

.dark-theme {
  background-color: #17252a;
  color: #fff;
}
.dark-h1{
color: white;
}
.dark-writer{
  color: white;
}
.light-theme {
  background-color: #def2f1 ;
  color: #333;
}
.light-h1{
  color: #17252a;
  }
  .light-writer{
    color: #17252a;
  }
.theme-changer {
  position: fixed;
  height: 40px;
  top: 20px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}

.theme-changer agit :hover{
  background-color: #DEF2F1;
}


/*LOGIN FORM*/

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

button,
button:hover,
button:active {
  outline: none;
  background: inherit;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #DEF2F1;
  font-size: 20px;
  transition: background-color 0.5s;
}

body::before {
  top: 0;
  left: 0;
  width: 400px;
  height: 200;
  background: rgba(238, 238, 238, 0.1);
}

@media (min-width: 1400px) {
  body::before {
    width: 640px;
    height: 320px;
  }
}

body::after {
  bottom: 0;
  right: 0;
  width: 450px;
  height: 220px;
  background: rgba(255, 247, 247, 0.1);
}

@media (min-width: 1400px) {
  body::after {
    width: 35rem;
    height: 18rem;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  margin-top: 70PX;
  width: 100%;
 margin-top: 100px;
  border-radius: 10px;

}

@media (min-width: 1400px) {
  .form-wrapper {
    max-height: 700px;
    height: 100vh;
    max-width: 430px;
    padding: 50px 45px;
  }
}

@media (max-width: 480px) {
  .form-wrapper {
    max-width: 300px;
    padding: 30px 20px;
  }
}

.form-wrapper__title {
  font-size: 30px;
  color: #2B7A78;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 50px;
  font-weight: 600;
}

@media (min-width: 1400px) {
  .form-wrapper__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .form-wrapper__title {
    margin-bottom: 5px;
  }
}


.wrapper {
  width: 380px;
  margin: auto;
  margin-top: 150px;
  padding: 40px 30px 50px 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
  font-size: 35px;
  font-weight: 600;
}

.wrapper form {
  margin: 40px 0;
}

form .field {
  width: 100%;
  margin-bottom: 20px;
}

form .field.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}

form .field .input-area {
  height: 50px;
  width: 100%;
 /*lockandmailemoji*/
}

form input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  border-radius: 50px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
  border-color: #4ce9cf;
}

form .field.shake input,
form .field.error input {
  border-color: #f50808;
}

.field .input-area i {
  position: absolute;
  top: 60%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}

.input-area .icon {
  left: 15px;
  color: #c7c5c5;
  transition: color 0.2s ease;
}

.input-area {
  right: 15px;
  color: #17e2e9;
  right: 40%;
  bottom: 9.5%;
}

form input:focus ~ .icon,
form .field.valid .icon {
  color: #000000;
}

form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon {
  color: #bfbfbf;
}

form input::placeholder {
  color: #1a1212;
  font-size: 17px;
}

form .field .error-txt {
  color: #0f0b0b;
  text-align: left;
  margin-top: 5px;
  font-size: 20px;
}

form .field .error {
  display: none;
}

form .field.shake .error,
form .field.error .error {
  display: block;
}

form .pass-txt {
  text-align: left;
  margin-top: -10px;
  visibility: hidden;
}

.wrapper a {
  color: #090a0e;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  height: 50px;
  margin-top: 30px;
  color: #ffffff;
  padding: 0;
  border: none;
  background: #51d4ce;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

form input[type="submit"]:hover {
  background: #DEF2F1;
}

.form-wrapper .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form-wrapper .social-icons li {
  margin: 0 5px;
}

.form-wrapper .social-icons li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  font-size: 18px;
  transition: all linear 0.3s;
}

.form-wrapper .social-icons li a.facebook {
  background-color: #1244db;
}

.form-wrapper .social-icons li a.twitter {
  background-color: #000000;
}

.form-wrapper .social-icons li a.google {
  background-color: #d82b0d;
}

.form-wrapper .social-icons li a:hover {
  background-color: #d1b9b9;
}

.form-wrapper__divider {
  text-align: center;
  font-size: 16px;
  color: #050202; 
  margin: 8px;
}

.form-wrapper__divider:nth-of-type(2) {
  margin-top: 20px;
}

@media (min-width: 1400px) {
  .form-wrapper__divider:nth-of-type(2) {
    margin-top: auto;
  }
}

.form-wrapper__signInBtn {
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
  color: #2B7A78;
  transition: all linear 0.3s; /* sign up*/
}

.form-wrapper__signInBtn:hover {
  color: #f0e0e0;
  font-size: 25px;
}

.btn{
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#mainForm {
  display: flow-root;
  width: 100%;
}

#mainForm label,
#mainForm input,
#mainForm button {
  display: block;
}

#mainForm label {
  margin-top: 12px;
  color: #f30000;
  font-size: 20px;
  margin-bottom: 3px; /* username and password*/
}

#mainForm .user-wrapper,
#mainForm .password-wrapper {
  position: relative;
}

#mainForm .user-wrapper::after,
#mainForm .password-wrapper::after {
  
  font-family: "Font Awesome 5 Free"; /*input field*/
  top: 50%;
  left: 8px;
  color: #dd1111;
  transform: translateY(-50%);
  pointer-events: none; /* change pointer*/
}


#mainForm input {
  border: 0;
  font-size: 14px; /*input text*/
  padding: 10px;
  padding-left: 30px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 8px;
  width: 100%;
  caret-color: #110b0a;
  outline: none;
  border-radius: 20px;
}

#mainForm input::-webkit-input-placeholder {
  opacity: 1;
  color: #59dbd0;
}

#mainForm input:-ms-input-placeholder {
  opacity: 1;
  color: #59dbd0;
}

#mainForm input::-ms-input-placeholder {
  opacity: 1;
  color: #59dbd0;
}

#mainForm input::placeholder {
  opacity: 1;
  color: #59dbd0;
}

#mainForm input:focus {
  border-color: #7a71e4;
}

#mainForm .mainForm__forgotBtn {
  padding: 5px;
  color: #fcfcfc;
  text-align: right;
  font-size: 16px;
  float: right;
  margin-left: auto;
  margin-bottom: 20px;
  transition: all linear 0.3s; /* forget password*/
}

#mainForm .mainForm__forgotBtn:hover {
  color: #41cee7;
}

#mainForm__subBtn {
  width: 100%;
  border: 0;
  border-radius: 20px;
  padding: 10px 0;
  font-size: 18px;
  color: #f0ecec;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px; /* login */
}

#mainForm__subBtn:hover{
  color: #15ffff;
}

@media (min-width: 1400px) {
  #mainForm__subBtn {
    margin-bottom: 40px;
    color: #6af0e9;
  }
}
