@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100&display=swap');
.body {
    margin: 0;
    padding: 0;
    background-color: #0f0e17;
    box-sizing: border-box;
    background-image: url('../images/science-page-images/back_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top:150px ;
    

}
.text{
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    color:beige;
    margin-left: 30px;

}
.text2{
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    color: beige;
    margin-left: 30px;
}
.text3{
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    color: beige;
    margin-left: 30px;
}
.text4{
    font-size: 25px;
    color:#fffffe;
    letter-spacing: 0.2rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-left: 30px;
}
.color{
   color: #66ff33;
}
.btn1{
    padding:10px 35px;
    background-color: #0f0e17;
    color:#ff8906;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    border: 2px solid  #ff8906;
    margin-left: 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;

}
.container1{
    display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #333;
      height: 590px;
      width: auto;
      margin-top: 100px;

}
.sub-container{
    width: 650px;
    height:270px ;
    margin: 20px ;
    padding:5px;
    color: white;
    text-align: align;
}

.history{
    color:#fffffe;
    margin-left: 40px;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    }
.history_img{
    width: 600px;
    height: 400px;
    background-image: url("../images/science-page-images/history_of_science.jpg");
    background-size: cover;
    box-shadow: beige 0px 5px 15px;
    animation: changeimg 20s linear infinite;
    padding :25px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
}
@keyframes changeimg{
 0%{
    background-image: url("../images/science-page-images/history_of_science.jpg");
 }
 25%{
    background-image: url("../images/science-page-images/history_of_science2.jpg");
 }
 50%{
    background-image: url("../images/science-page-images/history_of_science3.jpg");
 }
 75%{
    background-image: url("../images/science-page-images/history_of_science4.jpg");
}
}

.container2{
    background-color: #333;
    height: 650px;
    width: auto;
    border: 1px solid black;

}
h1{
    color: #fffffe;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 50px;

}
.content_maths{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 40px;
}
.courses{
    height: 300px;
    width: 250px;
    background-color: #fffffe;
    border: 1px solid black;
    margin-top: 40px; 
    border-radius: 20px;
   }
.courses:hover{
    height: 300px;
    width: 250px;
    background-color: #fffffe;
    border: 1px solid black;
    margin-top: 40px; 
    border-radius: 20px;
    animation: bounce-in 4s linear  infinite;
}
.course_img{
    height: 60px;
    display: block;
    margin: 0 90px;
    padding: 10px;
    
}
    

    

  
  
 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    width: 100%;
}


.nav-logo a {
    display: flex;
    align-items: center;
    color: #fffffe;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.nav-logo a:hover {
    color: #ff6347;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.nav-item {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.nav-item a {
    color: #fffffe;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.nav-item a:hover {
    color: #ff6347;
    background-color: #0f0e17;
    border-radius: 5px;
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Poppins', sans-serif;
}

.dropdown-content a {
    color: #fffffe;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #0f0e17;
    color: #ff6347;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-items {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 30px;
}

.dropdown-items span {
    background-color: #fffffe;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 5px 0;
    width: 25px;
    transition: all 0.3s;
}

.headline-1 {
    font-size: 65px;
    font-weight: bolder;
    color: #ff8906;
    text-align: center;
    position: relative;
    top: -635px;
}

.headline-2 {
    font-size: 65px;
    font-weight: bolder;
    color: #fffffe;
    text-align: center;
    position: relative;
    top: -700px;
}

.headline-3 {
    font-size: 30px;
    color: #fffffe;
    text-align: center;
    position: relative;
    top: -400px;
}

.main-product-img {
    width: 900px;
    object-fit: cover;
    display: block;
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
    margin-top: 0px;
}

.main-product-img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}

.product-img-container {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    gap: 35px;
    flex-wrap: wrap;
}

.product-img {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    object-fit: cover;
    transition: .5s ease;
    cursor: pointer;

}

.product-img:hover {
    box-shadow: 0 0 0 10px rgba(0, 255, 255, 0.7);
    transition: .3s ease;
}











@media screen and (min-width: 769px) and (max-width: 992px) {
    .headline-1 {
        font-size: 50px;
    }

    .headline-2 {
        font-size: 50px;
        position: relative;
        top: -690px;
    }

    .main-product-img {
        width: 700px;

    }
}









    @media (max-width: 768px) {
        .nav-menu {
            display: none;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 50px;
            left: 0;
            background-color: #333;
            padding: 0;
        }

        .nav-logo img {
            width: 30px;
            height: 30px;
        }

        .nav-logo a {
            font-size: 20px;
        }

        .nav-menu.active {
            display: flex;
        }

        .nav-item {
            margin-left: 30px;
        }

        .nav-item a {
            padding: 10px;
            border-top: 1px solid #444;
        }

        .dropdown-items {
            display: flex;
        }

        .head-image-1 {
            float: right;
        }

        .headline-1 {
            font-size: 32px;
        }

        .headline-2 {
            font-size: 32px;
            position: relative;
            top: -650px;
        }

        .headline-3 {
            font-size: 20px;
        }

        .main-product-img {
            width: 300px;
        }
    }